h1.site-logo {
    font-size: 30px !important;
}

h1.site-logo small {
    font-size: 20px !important;
}

code {
    display: inline-block;
    color: #222 !important;
    background-color: rgba(0 0 0 / 8%);
    border-radius: 4px;
    padding: 0 4px;

}

.right-next, .left-prev {
    border-radius: 8px;
    border-width: 0px !important;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.right-next:hover, .left-prev:hover {
    text-decoration: none;
}

.admonition {
    border-radius: 8px;
    border-width: 0;
    box-shadow: 0 0 0 !important;
}

.note { background-color: rgba(0, 123, 255, 0.1); }
.note * { color: rgb(69 94 121); }

.warning { background-color: rgb(220 150 40 / 10%); }
.warning * { color: rgb(105 72 28); }

.input_area, .output_area {
    border-radius: 8px !important;
    border-width: 0 !important;
    margin: 8px 0 8px 0;
}

.output_area {
    padding: 12px;
    background-color: hsl(227 60% 11% / 0.7) !important;
}

.output_area pre {
    //overflow: hidden;
    color: #fff;
}

.input_area pre {
    background-color: rgba(0 0 0 / 3%) !important;
    padding: 12px !important;
}

.ansi-green-intense-fg {
    color: #64d88b !important;
}